* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

#page-landing {
    height: 100%;
    width: 100%;
}

#container {
    /* display: flex; */
    font-family: 'Josefin Sans', sans-serif;;
    font-size: 30px;

}
