* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

}

body {
    height: 100vh;
    width: 100vw;
}

/* #page-landing {
    height: 100%;
    width: 100%;
} */

#container {
    font-family: 'Josefin Sans', sans-serif;
    /* font-size: 30px; */
    /* width: 100%; */
    
}

:root {
    --color-input: #f1f6f9;
    --color-black: #373a40;

    font-size: 62.5%;
}
