* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

}



body, html {
    height: 100%;
    width: 100%;
}


#container {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    width: 100%;
}

:root {
    --color-white: #f1f6f9;
    --color-black: #373a40;

    font-size: 62.5%;
}
