.adding-word {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.adding-word input[type="text"],
.adding-word input[type="button"] {
  width: 15rem;
  height: 3rem;
  border-radius: 0.3rem 0 0 0.3rem;
  background: var(--color-white);

  font-size: 1.7rem;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;;
  color: var(--color-black);

  outline: none;
}

.adding-word input[type="text"]:focus {
  border: 1px solid  var(--color-black);
}   

.adding-word input[type="button"] {
    width: 4rem;
    border-radius: 0 0.3rem 0.3rem 0 ;
    cursor: pointer;
    
    border-left: 1px solid var(--color-black);
    
    background-image: url(../images/buttons/clickButton-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    transition: background 0.2s;
}

.adding-word input[type="button"]:hover {
    background: var(--color-black);

    background-image: url(../images/buttons/clickButton-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* game alone*/

.adding-word-alone {
  margin: 50px auto 0 ;
  
  width: 19rem;
  height: 3rem;
  border-radius: 0.3rem;
  /* border: 1px solid red; */
  font-family: 'Josefin Sans', sans-serif;
  

  font-size: 2rem;
  
  background: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  transition: background 0.2s;
  outline: none;
}

.adding-word-alone:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.adding-word-alone:focus {
  border: 1.4px solid var(--color-white);
}

/* Content Letter and word tip*/

.wordTip {
  text-align: center;
  color: var(--color-white);
  font-size: 2rem;

  display: none;
}

.wordTip small {
  color: var(--color-green-secondary);
  font-weight: 700;
}

.adding-letter {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.adding-letter input[type="text"],
.adding-letter input[type="button"] {
  width: 6rem;
  height: 3rem;
  border-radius: 0.3rem 0 0 0.3rem;
  background: var(--color-white);

  font-size: 1.7rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: var(--color-black);

  outline: none;
}

.adding-letter input[type="text"]:focus {
  border: 1px solid  var(--color-black);
}  

.adding-letter input[type="button"] {
  width: 4rem;
  cursor: pointer;
  border-radius: 0 0.3rem 0.3rem 0;
  

  border-left: 1px solid var(--color-black);
  
  background-image: url(../images/buttons/clickButton-black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  transition: background 0.2s;
}

.adding-letter input[type="button"]:hover {
  background: var(--color-black);

  background-image: url(../images/buttons/clickButton-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.adding-letter input[type="button"]:focus {
  border: 1px solid  var(--color-white);
  background-image: url(../images/buttons/clickButton-white.png);
}  


@media (min-width: 760px) {
  .adding-letter input[type="button"] {
    
  }
}